.ColClues {
  display: flex;
  justify-content: space-between;
  color: #232323;
  margin-bottom: 0.5em;
}

.ColClues > * {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  flex-basis: 0;
}

.RowClues {
  display: flex;
  justify-content: space-between;
  color: #232323;
  flex-direction: column;
}

.RowClues > * {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}

.RowClues > div > div {
  margin-right: 0.5em;
}

.Clue {
  font-weight: bold;
}

.Clue.incorrect {
  color: red;
}

.Clue.complete {
  text-decoration: line-through;
  opacity: 0.5;
  font-weight: normal;
}
